<mat-sidenav-container class="dashboard-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" class="dashboard-sidenav" [opened]="true">
    <div class="sidenav-header">
      <img src="/assets/IvenBankLogo.png" alt="Logo" />
      <h2>InvenBank</h2>
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="overview" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon>
        <span>Inicio</span>
      </a>
      <a mat-list-item routerLink="products" routerLinkActive="active-link">
        <mat-icon>inventory_2</mat-icon>
        <span>Productos</span>
      </a>
      <a mat-list-item routerLink="suppliers" routerLinkActive="active-link">
        <mat-icon>local_shipping</mat-icon>
        <span>Proveedores</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content class="dashboard-content">
    <mat-toolbar color="primary" class="dashboard-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()" class="hide-on-desktop">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-title">Panel de Control</span>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <div class="dashboard-main">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
